/vendor
/node_modules

# Log files
npm-debug.log
yarn-error.log

# Laravel specific
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/pail
/bootstrap/compiled.php
app/storage/

/.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml

# Editor & tool configs
/.vscode
/.idea
/.fleet
/.vagrant
.phpactor.json
